<!DOCTYPE html>
<html>

<head>
  <title>News Service</title>
</head>

<body>

  <div class="login-page">
    <div class="form">

      <form class="register-form" #f="ngForm" name="theForm" (submit)="addNews(f)">

        <input type="text" placeholder="title" name="title" required [(ngModel)]="singleNews.title" />
        <input type="text" placeholder="description" name="description" required [(ngModel)]="singleNews.content" />
        <input type="text" placeholder="producer" name="producer" required [(ngModel)]="singleNews.producer" />
        <input type="text" placeholder="category" name="category" required [(ngModel)]="singleNews.category" />

        <input class="submit" type="submit" name="create" value="Create News">

      </form>

    </div>
  </div>

</body>

</html>