
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add News</title>
</head>
<body>
    <script>
        function myFunction() {
            document.getElementById("IDusername").value = JSON.parse(sessionStorage["username"]).username;
        }
    </script>
    <div>
        <form action="/Add/Add" method="GET">
            Title : <input type="text" id="IDtitle" name="title" /> <br />
            Content : <input type="text" id="IDcontent" name="content" /> <br />
            Producer : <input type="text" id="IDproducer" name="producer" /> <br />
            Category : <input type="text" id="IDcategory" name="category" /> <br />
            <input type="hidden" id="IDusername" name="username" /> <br />
            <input type="submit" value="Add news" onclick="myFunction()" />
        </form>
    </div>
</body>
</html>