.container {
    width: 100%;
    height: 1000px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
}

.item {
    background-color: white;
    border: 10px solid;
    border-radius: 20%;
    user-select: none; /* In web browsers, if you double-click on some text it will be selected/highlighted. This property can be used to prevent this. */
}

.item:active {
    background-color: red;
}

.item:hover {
    cursor: pointer;
    border-width: 100px;
}